/*
Our @if directive performs a bit of string concatenation, but we'd prefer if the output value had quotes around it. Tweak the directive to ensure this is the case.
*/


$theme: modern;
$font: 'serif';

@if $theme == modern {
  $font: 'sans-' + $font;
}

.sign {
  font-family: $font;
}
