.btn {
  transition: all .4s;
}
.btn .content {
  transition: all .3s;
}
.top.content {
  top: 0px;
}
.bottom.content {
  top: 50px;
}
.btn:hover .top {
  top: -50px;
}
.btn:hover .bottom {
  top: 0px;
}

.modal,
.modal-overlay {
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}
.modal.active, .modal-overlay.active {
  visibility: visible;
  opacity: 1;
}