/*
4.3 EXTEND III
250
Some of the CSS copied over originally contains already-combined selectors. Refactor the segment below to make use of extend on .socket instead, in case we need to add elements later.
*/

.socket {
  border-radius: 50%;
  padding: 15px;
  width: 30px;
}
.wrench {
    @extend .socket;
  width: 100px;
}
.bolt {
    @extend .socket;
  padding: 14px;
}
