/*
Technically, it works - but this @for with a nested @if is more complicated than necessary to target odd numbers from 1 to 7. Remove the @if statement and refactor the @for using @while instead to achieve the same result. Note: if you aren't familiar with the % operator, don't worry - it's covered in the next level.
*/


/*
@for $i from 1 through 7 {
  @if $i % 2 != 0 {
    .row-#{$i} {
      background: #ccc;
      height: $i * 10px;
    }
  }
}*/

$i: 1;
@while $i <= 7 {
  .row-#{$i} {
    background: #ccc;
    height: $i * 10px;
  }
    $i: $i + 2;
}

