/*
A number stored in $size is being used to set the font size for our .switch. Based on $size, create a conditional statement with @if inside .switch: if $size is less than or equal to 16px, font-family: Arial, sans-serif; is output. Otherwise, font-family: Helvetica, sans-serif; is output.
*/

$size: 18px;

.switch {
  @if $size <= 16px {
    font-family: Arial, sans-serif;
  } @else {
    font-family: Helvetica, sans-serif;
  }
  font-size: $size;
}
